/*************** COPY_EXAMPLE ***************/
/*************** COPY_EXAMPLE ***************/
/*************** COPY_EXAMPLE ***************/
/*

@font-face {
    font-family: 'NAME';
    src: url('../fonts/NAME.eot');
    src: url('../fonts/NAME.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NAME.woff') format('woff'),
         url('../fonts/NAME.ttf') format('truetype'),
         url('../fonts/NAME.svg#Franklin-Gothic-Demi-Cond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/
/*************** COPY_EXAMPLE ***************/
/*************** COPY_EXAMPLE ***************/

/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/